@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Create a Thread", "Create", "Thread", null, new { @class = "btn btn-info" })

    <table id="theads" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Started by</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Threads)
            {
                <tr>
                    <td><span class="glyphicon glyphicon-question-sign"></span></td>
                    <td>
                        @Html.ActionLink((string)@item.Title, "Details", "Thread", new { id = item.Id }, null)
                    </td>
                    <td>
                        @item.User.UserName
                    </td>
                    <td>
                        @item.CreationDate
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>  