@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @Html.ActionLink("Create a Thread", "Create", "ThreadController")
   
    <table id="theads">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Threads)
            {
                <tr>
                    <td>
                        <div class="inner">
                            <h3 class="threadtitle">
                                <img src="" alt="Question" border="0" title="Question">
                                <a class="title" href="">@item.Title</a>
                            </h3>
                            <div class="threadmeta">
                                <div class="author">
                                    <span class="label">Started by&nbsp;@item.User.UserName,&nbsp; @item.CreationDate</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>  